body {
  margin: 0;
  overflow: hidden;
  background: #001b2e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#menu {
  position: absolute;
  top: 40%;
  width: 100%;
}

button {
  padding: 10px 25px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
